@model Exercises.Models.Data.Course
@{
    ViewBag.Title = "AddCourse";
}

<h2>AddCourse</h2>


<div class="row">
    <div class="col-xs-12">
        <h3>Add Course</h3>
        @Html.ActionLink("Return to List", "Courses", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using ( Html.BeginForm() )
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CourseName)
                @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", placeholder = "Name" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.CourseName)</span>
                <p />
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      